.advantages {
  background-color: #fff;
}

.advantages__wrapper {
  margin: 0 auto;
  width: 280px;
  margin-bottom: 50px;
}

.advantages__intro {
  text-align: center;
}

.advantages__list {
  list-style-type: none;
}

.advantages_item--ingredients {
  background-image: url(../img/ingredients-icon.png);
  height: 61px;
  width: 61px;
  background-repeat: no-repeat;
}