.contacts__wrapper {
  margin: 0 auto;
  width: 280px;
}

.contacts_social {
  display: inline-block;
  margin-right: 30px;
  background-color: #fff;
  width: 62px;
  height: 62px;
  border-radius: 31px;
  margin-bottom: 50px;

  &--inst {
    background-image: url(../img/inst-icon.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  &--vk {
    background-image: url(../img/vk-icon.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}