.contacts {

  @media (min-width: 768px) {
    background-image: url(../img/contact-bg-tablet.png);
    background-repeat: no-repeat;
    background-position: bottom -50px right -75px;
  }

  @media (min-width: 1366px) {
    background-image: url(../img/contact-bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}

.contacts__wrapper {
  margin: 0 auto;
  width: 280px;

  @media (min-width: 768px) {
    width: 678px;

  }

  @media (min-width: 1366px) {
    width: 1216px;
  }
}

.contacts__title {
  font-size: 24px;
  text-align: center;
  line-height: 24px;
  margin-bottom: 15px;

  @media (min-width:768px) {
    font-size: 28px;
    text-align: left;
    line-height: 28px;

  }

  @media (min-width: 1366px) {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 40px;

  }
}

.contacts__intro {
  line-height: 22px;
  margin-bottom: 13px;

  @media (min-width:768px) {
    margin-bottom: 23px;
  }

  @media (min-width: 1366px) {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 27px;
  }
}

.contacts__content {
  display: flex;
  flex-direction: column;

  @media (min-width:768px) {
    flex-direction: row;

  }
}

.contacts-left {

  @media (min-width:768px) {
    margin-right: 65px;
  }

  @media (min-width:1365px) {
    margin-right: 85px;
  }
}

.contacts__text {
  line-height: 16px;
  margin-bottom: 12px;

  @media (min-width:768px) {
    width: 280px;
    font-size: 20px;
  }

  @media (min-width:1366px) {
    width: 548px;
    font-size: 20px;
  }

  &--2 {
    line-height: 25px;
    margin-bottom: 15px;
  }
}

.contacts__form {
  @media (min-width:768px) {
    margin-bottom: 110px;
  }

  @media (min-width:1366px) {
    margin-bottom: 300px;
  }
}

.field {
  display: block;
  box-sizing: border-box;
  font: inherit;
  line-height: 11px;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  padding: 18px 10px;
  width: 280px;
  height: 50px;
  margin-bottom: 10px;

  @media (min-width:768px) {
    width: 346px;
  }

  @media (min-width: 1366px) {
    width: 548px;
    height: 50px;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 35px 2px 4px;
  }

  &::placeholder {
    font-size: 16px;
    color: #000;
    opacity: 0.2;
  }
}



.textarea {
  display: block;
  box-sizing: border-box;
  font: inherit;
  line-height: 11px;
  border-radius: 3px;
  border: none;
  padding: 14px 10px;
  background-color: #ffffff;
  width: 280px;
  height: 120px;
  margin-bottom: 20px;

  @media (min-width:768px) {
    width: 346px;
    margin-bottom: 30px;
  }

  @media (min-width: 1366px) {
    width: 550px;
    height: 50px;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 35px 2px 4px;
    overflow: hidden;
    resize: none;
    margin-bottom: 80px;
  }

  &::placeholder {
    font-size: 16px;
    color: #000;
    opacity: 0.2;
  }
}

.form-button {
  display: block;
  width: 180px;
  height: 51px;
  margin: 0 auto;
  margin-bottom: 30px;

  @media (min-width:768px) {
    margin: 0;
    margin-bottom: 30px;
  }

}

.contacts_social {
  display: inline-block;
  margin-right: 30px;
  background-color: #fff;
  width: 62px;
  height: 62px;
  border-radius: 31px;
  margin-bottom: 45px;

  &--inst {
    background-image: url(../img/inst-icon.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  &--vk {
    background-image: url(../img/vk-icon.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}