.customer-care {
  background-image: url(../img/customer-care.png);
  background-repeat: no-repeat;
  background-position: 0px -135%;
  min-height: 330px;
}
.customer-care__wrapper {
  margin: 0 auto;
  width: 280px;
}

.customer-care__title {
  text-align: left;
}