@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/PlayfairDisplay-Bold.woff) format('woff'), url(../fonts/PlayfairDisplay-Bold.woff2) format('woff2');
  font-weight: 700;
};

@font-face {
  font-family: "PlayfairDisplay-BoldItalic";
  src: url(../fonts/PlayfairDisplay-BoldItalic.woff) format('woff'), url(../fonts/PlayfairDisplay-BoldItalic.woff2) format('woff2');
  font-weight: 700;
};

@font-face {
  font-family: "Circe-Regular";
  src: url(../fonts/Circe-Regular.woff) format('woff'), url(../fonts/Circe-Regular.woff2) format('woff2');
  font-weight: 700;
};

@font-face {
  font-family: "IntroScriptR-H2Base";
  src: url(../fonts/IntroScriptR-H2Base.woff) format('woff'), url(../fonts/IntroScriptR-H2Base.woff2) format('woff2');
  font-weight: 700;
};
