.main-footer {
  background-color: #898989;
  padding-top: 45px;
  font-family: Roboto-Regular;

  @media (min-width: 768px) {
    padding-top: 0;
  }

  @media (min-width: 1366px) {
    background-color: #e8e8e8;
    padding-top: 3px;
  }
}

.main-footer__wrapper {
  margin: 0 auto;
  width: 280px;

  @media (min-width: 768px) {
    width: 728px;
    display: grid;
    grid-template-columns: 112px 1fr 1fr 112px;
    grid-template-rows: auto auto;
  }

  @media (min-width: 1366px) {
    width: 1216px;
    grid-template-columns: 220px 1fr 1fr 220px;
    grid-template-rows: auto auto;
  }
}

.main-footer__logo {
  font-size: 28px;
  color: #fff;

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 18px;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 0;
    display: flex;
    align-items: end;
  }

  @media (min-width: 1366px) {
    font-size: 28px;
    line-height: 28px;
    color: #000;
  }
}

.main-footer__list {

  @media (min-width: 768px) {
    display: flex;
    grid-column: 2/5;
    grid-row: 1/2;

  }
  @media (min-width: 1366px) {
    grid-column: 2/4;
    grid-row: 1/2;

  }


}

ul.main-footer__list {
  padding-top: 30px;
}


.main-footer__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin: 0;
    margin-right: 40px;
  }
}

.main-footer__phone {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    display: none;
  }
}

.main-footer__social {
  display: inline-block;


  &--telegram {
    background-image: url(../img/telegram-icon-footer-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 23px;
    height: 23px;
    margin-right: 18px;
    opacity: 0.4;
    @media (min-width: 1366px) {
    background-image: url(../img/footer-icon-inst.svg);

    }
  }

  &--vk {
    background-image: url(../img/footer-icon-vk-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 31px;
    height: 23px;
    opacity: 0.4;
    @media (min-width: 1366px) {
    background-image: url(../img/footer-icon-vk.svg);

    }
  }
}

.main-footer__social-wrapper {
  margin-bottom: 50px;

  @media (min-width: 768px) {
    grid-column: 3/5;
    grid-row: 2/3;
    border-top: 1px solid #959595;
    margin-top: 40px;
    padding-left: 17px;
    padding-top: 13px;
    margin-bottom: 18px;
  }
  @media (min-width: 1366px) {
    grid-column: 4/5;
    grid-row: 1/2;
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: end;
  }
}

.main-footer__copyright {
  color:#fff;
  opacity: 0.5;
  padding: 10px 0;
  border-top: 1px solid #959595;

  @media (min-width: 768px) {
    grid-column: 1/3;
    grid-row: 2/3;
    padding: 0;
    text-align: right;
    margin-top: 40px;
    padding-right: 17px;
    padding-top: 17px;

  }
  @media (min-width: 1366px) {
    color: #000;
    grid-column: 1/5;
    grid-row: 2/2;
    text-align: center;
    margin-bottom: 20px;
  }
}