.main-footer {
  background-color: #898989;
  padding-top: 45px;
  font-family: Roboto-Regular;
}

.main-footer__wrapper {
  margin: 0 auto;
  width: 280px;
}

.main-footer__logo {
  display: inline-block;
  font-size: 28px;
  color: #fff;
  margin-bottom: 30px;
}

.main-footer__list {
  padding: 0;
  margin-bottom: 20px;
}
.main-footer__item:not(:last-child) {
  margin-bottom: 20px;
}

.main-footer__phone {
  display: inline-block;
  margin-bottom: 32px;
}

.main-footer__social {
  display: inline-block;
  margin-right: 18px;

  &--inst {
    background-image: url(../img/footer-icon-inst.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 23px;
    height: 23px;
  }

  &--vk {
    background-image: url(../img/footer-icon-vk.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 31px;
    height: 19px;
  }
}
.main-footer__social-wrapper {
  margin-bottom: 50px;
}

.main-footer__copyright {
  color: #adadad;
  padding:  10px 0;
  border-top: 1px solid #959595;
}