.main-header {
  background-color: #fff;
  height: 40px;
  width: 320px;
  margin: 0 auto;

  @media (min-width:768px) {
    height: 60px;
    width: 768px;

  }

  @media (min-width: 1366px) {
    background-color: transparent;
    height: 80px;
    width: 1366px;
  }
}

.main-header__wrapper {
  margin: 0 auto;
  width: 280px;
  height: 100%;

  @media (min-width: 768px) {
    justify-content: start;
    width: 728px;

  }

  @media (min-width: 1366px) {
    display: flex;
    align-items: end;
    width: 1220px;
  }
}

@media (min-width: 768px) {
  .main-header__logo {
    margin-right: 22px;
  }
}

@media (min-width: 1366px) {
  .main-header__logo {
    margin-right: 50px;
    font-size: 24px;
  }
}

.main-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @media (min-width: 768px) {
    justify-content: left;
  }

}

.main-nav__list {
  display: none;
  position: absolute;
  top: 40px;
  left: -20px;
  z-index: 2;

  @media (min-width: 768px) {
    top: 60px;
  }

  @media (min-width: 1366px) {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.main-header__phone {
  display: none;

  @media (min-width: 768px) {
    display: block;
    margin-left: auto;
    padding-right: 25px;
  }

  @media (min-width: 1366px) {
        margin-left: auto;

  }
}

.main-nav__toggle {
  // position: absolute;
  // top: -27px;
  // right: 0;
  background-color: transparent;
  border: none;
  background-image: url(../img/burger-menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  width: 32px;
  height: 32px;

  @media (min-width: 1366px) {
    display: none;
  }
}