.main-header {
  background-color: #fff;
  // align-items: center;
}
.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 280px;
}
.main-nav__list {
  display: none;
}
.main-header__phone {
  display: none;
}

.main-nav__toggle {
  background-color: transparent;
  border: none;
  background-image: url(../img/burger-menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  width: 18px;
  height: 18px;
}
.phone {
  font-size: 15px;
  line-height: 40px;
  color: #2d2829;
  text-decoration: none;
}
