.hero {
  background-image: url(../img/cake-photo-1.png);
  background-repeat: no-repeat;
  background-position: 0px -32px ;
  padding-top: 222px;
  margin-bottom: 50px;
}

.hero__wrapper {
  margin: 0 auto;
  width: 280px;
  text-align: center;
}
.hero__priority-handmade {
  margin-bottom: 30px;
}
