.how-to-order {
  background-color: #e3353d;
  color: #fff;
  margin-bottom: 10px;
}
.how-to-order__wrapper {
  margin: 0 auto;
  width: 280px;
  padding-top: 36px;
}
.how-to-order__title {
  color: #fff;
  margin-bottom: 36px;
}
.how-to-order__img {
  display: block;
}