.main-page__title-wrapper {
  position: relative;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 678px;
  }

  @media (min-width: 1366px) {
    width: 1220px;

  }
}
.main-page__title {
  position: absolute;
  top: 135px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 39px;
  line-height: 36px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 55px;
    text-align: left;
    letter-spacing: 0.05em;
    top: 112px;
    left: 0;
    transform: translateX(0px);
  }

  @media (min-width: 1366px) {
    font-size: 78px;
    line-height: 70px;
    letter-spacing: 0.075em;
    top: 165px;
    left: 0;
    transform: translateX(0px);
  }
}
