.main-page__title {
  position: absolute;
  top: 175px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  line-height: 36px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 55px;
    text-align: left;
    letter-spacing: 0.05em;
    left: 50px;
    transform: translateX(0px);
  }

  @media (min-width: 1366px) {
    font-size: 78px;
    line-height: 70px;
    letter-spacing: 0.075em;
    top: 245px;
    left: 75px;
    transform: translateX(0px);
  }
}