.order__wrapper {
  margin: 0 auto;
  width: 280px;
  margin-bottom: 50px;

  @media (min-width: 768px) {
    width: 728px;
  }

  @media (min-width: 1366px) {
    width: 1220px;
  }
}

.order__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;

  @media (min-width:768px) {
    font-size: 28px;
    margin-bottom: 20px;
  }

  @media (min-width: 1366px) {
    font-size: 40px;
    margin-bottom: 25px;
  }
}

.order-text {
  font-size: 22px;
  text-align: center;
  margin-bottom: 24px;

  @media (min-width:768px) {
    font-size: 28px;
    margin-bottom: 36px;
  }

  @media (min-width: 1366px) {
    font-size: 40px;
    margin-bottom: 55px;
  }
}

.order-steps {
  list-style-type: none;
  padding: 0;
}

.order-step {
  background-color: #fff;
  display: flex;
  flex-direction: column;


  @media (min-width:768px) {
    flex-direction: row;
    height: 350px;
  }

  @media (min-width:1366px) {
    height: 570px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

}

.order-step__title {
  font-size: 16px;
  color: #f50049;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 22px;

  @media (min-width:768px) {
    font-size: 18px;
    width: 125px;
    padding-top: 45px;
    padding-left: 45px;
    margin-right: 35px;
    margin-bottom: 0;
  }

  @media (min-width:1366px) {
    font-size: 27px;
    padding-top: 75px;
    padding-left: 80px;
    margin-right: 120px;
  }
}

.step-number {
  font-family: "Playfair Display";
  font-size: 30px;
  margin-right: 10px;

  @media (min-width:768px) {
    font-size: 36px;
  }

  @media (min-width:1366px) {
    font-size: 58px;}
}


.img-wrapper {
  margin: 0 auto;

  @media (min-width:768px) {
    margin: 0;
    margin-right: 30px;
    padding-top: 10px;
  }

  @media (min-width:1366px) {
    padding-top: 60px;
    margin-right: 45px;
  }
}



.fillings-wrapper {
  margin: 0 auto;
  width: 240px;

  @media (min-width:768px) {
    margin: 0;
    padding-top: 80px;
    width: 180px;
  }

  @media (min-width:1366px) {
    margin: 0;
    width: 290px;
  }
}

.fillings__title {
  order: 2;
  font-size: 16px;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    font-size: 18px;
    margin-bottom: 12px;
  }

  @media (min-width: 1366px) {
    font-size: 20px;
    padding-top: 70px;
    margin-bottom: 20px;
  }
}

.fillings__img {

  @media (min-width: 768px) {
    padding-top: 55px;
  }
}

.fillings__desc {
  order: 3;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    line-height: 17px;
    margin-bottom: 15px;
  }

  @media (min-width: 1366px) {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 32px;
  }
}

.fillings__price {
  font-family: "Playfair Display";
  font-size: 18px;
  order: 4;
  text-align: center;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    font-size: 20px;
    text-align: left;
    margin: 0;
    margin-bottom: 30px;
  }

  @media (min-width: 1366px) {
    font-size: 22px;
    margin: 0;
    margin-bottom: 55px;
  }
}

.fillings__toggles {
  margin: 0 auto;
  margin-bottom: 20px;
}

.fillings__button {
  width: 178px;
  height: 51px;
  margin: 0 auto;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    width: 135px;
    height: 43px;
    margin: 0;
  }

  @media (min-width: 1366px) {
    width: 178px;
    height: 51px;
  }
}


.size__list {
  list-style-type: none;
}

li.size__item:not(:first-of-type) {
  display: none;
}

.decoration__list {
  list-style-type: none;
}

li.decoration__item:not(:first-of-type) {
  display: none;
}

.order-result {
  background-color: #fff;
}

.order-result__title {
  text-align: left;
}