.order-result__wrapper {
  margin: 0 auto;
  width: 250px;

  @media (min-width: 768px) {
    width: 638px;
    height: 130px;
  }

  @media (min-width: 1366px) {
    width: 1070px;
    height: 190px;
  }
}

.order-result__title {
  font-size: 22px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 1366px) {
    font-size: 27px;
  }
}

.description__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: end;
    margin-bottom: 30px;
  }
}

.order-result__description-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    flex-direction: row;

  }
}

.description-item:not(:last-child) {

  @media (min-width: 768px) {
    margin-right: 20px;
  }

  @media (min-width: 1366px) {
    margin-right: 80px;
  }
}

.order-result__description-term {
  font-size: 20px;
  color: #f50049;
  text-align: center;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
  }

  @media (min-width: 1366px) {
    font-size: 27px;
    margin: 0;
  }

}

.order-result__description-definition {
  width: 243px;
  height: 30px;
  border: 1px solid #dddddd;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  @media (min-width: 768px) {
    font-size: 12px;

    &--filling {
      width: 160px;
    }

    &--size {
      width: 74px;
    }

    &--decor {
      width: 160px;
    }

  }

  @media (min-width: 1366px) {
    font-size: 18px;
    justify-content: start;

    &--filling {

      width: 250px;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #dddddd;
    }

    &--size {
      width: 135px;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #dddddd;
    }

    &--decor {
      width: 250px;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #dddddd;
    }
  }

}

.order-result__button {
  margin: 0 auto;
  width: 226px;
  height: 51px;
  margin-bottom: 35px;

  @media (min-width: 768px) {
    width: 160px;
    height: 43px;
  }

  @media (min-width: 1366px) {
    width: 226px;
    height: 51px;
  }
}