.order__wrapper {
  margin: 0 auto;
  width: 280px;
  margin-bottom: 50px;
}

.order__title {
  font-size: 24px;
  margin-bottom: 16px;
}

.order-text {
    text-align: center;
    margin-bottom: 20px;
}

.order-steps {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.order-step {
  background-color: #fff;
  &:not(:last-child) {
  margin-bottom: 10px;
}
}

.order-step__title {
  font-size: 16px;
  color: #f50049;
}

.size__list {
  list-style-type: none;
}

li.size__item:not(:first-of-type) {
  display: none;
}
.decoration__list {
  list-style-type: none;
}
li.decoration__item:not(:first-of-type) {
  display: none;
}
.order-result {
  background-color: #fff;
}
.order-result__title {
  text-align: left;
}