.our-cakes {
  margin-bottom: 53px;
}

.our-cakes__wrapper {
  margin: 0 auto;
  width: 280px;
}

.our-cakes__title {
  font-size: 24px;
  margin-bottom: 36px;
}

.our-cakes__list {
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.our-cakes__item {
  height: 120px;
  padding-top: 14px;
  padding-left: 14px;
  margin-bottom: 10px;

  &--classic {
    background-image: url(../img/classic-cakes.jpg);
    background-repeat: no-repeat;
  }
  &--muss {
    background-image: url(../img/muss-cakes.jpg);
    background-repeat: no-repeat;
  }
  &--wedding {
    background-image: url(../img/wedding-cakes.jpg);
    background-repeat: no-repeat;
  }
  &--mans {
    background-image: url(../img/mens-cakes.jpg);
    background-repeat: no-repeat;
  }
  &--woman {
    background-image: url(../img/woman-cakes.jpg);
    background-repeat: no-repeat;
  }
  &--child {
    background-image: url(../img/child-cakes.jpg);
    background-repeat: no-repeat;
  }
}

.our-cakes__name {
  font-size: 14px;
  color: #2d2829;
}

.our-cakes__quantity {
  font-size: 12px;
  color: rgba(45, 40, 41, 0.7);
}