.page {
  font-family: Circe-Regular;
  font-size: 14px;

}

.page__body {
  margin: 0 auto;
  background-color: #fbebea;
  max-width: 1366px;
  min-width: 320px;
}

* {
  margin: 0;
  box-sizing: border-box;
}