.page {
  font-family: Circe-Regular;
  font-size: 14px;
  max-width: 320px;
  margin: 0 auto;
}

.page__body {
  margin: 0;
  background-color: #fbebea;
}
* {
  margin: 0;
  box-sizing: border-box;
}
