.reviews {
  @media (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
    background: url(../img/reviews-decor-left-tablet.png) top left no-repeat, url(../img/reviews-decor-right-tablet.png) top right no-repeat;
  }
  @media (min-width: 1366px) {
    width: 1366px;
    margin: 0 auto;
    background: url(../img/reviews-decor-left-desktop.png) top left no-repeat, url(../img/reviews-decor-right-desktop.png) top right no-repeat;
  }
}

.reviews__wrapper {
  margin: 0 auto;
  width: 280px;
  padding-top: 50px;
  margin-bottom: 50px;

  @media (min-width: 768px) {
    width: 728px;
    margin-bottom: 110px;
  }

  @media (min-width: 1366px) {
    width: 1220px;
    margin-bottom: 175px;
  }

}

.reviews__title {
  font-size: 24px;
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 28px;
    margin-bottom: 32px;
  }

  @media (min-width: 1366px) {
    font-size: 40px;
    margin-bottom: 65px;
  }
}

.reviews__block {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    width: 410px;
    margin: 0 auto;
  }

  @media (min-width: 1366px) {
    width: 620px;
  }
}

.reviews__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    width: 110px;
    height: 110px;
    margin: 0;
    margin-right: 25px;
  }

  @media (min-width: 1366px) {
    width: 210px;
    height: 210px;
    margin-right: 55px;
  }
}

.reviews__content {
  position: relative;
  text-align: center;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    text-align: left;
    width: 255px;
  }

  @media (min-width: 1366px) {
    width: 400px;
  }

  &::after {
    position: absolute;
    content: "1/26";
    font-size: 12px;
    color: #f87b91;
    bottom: 0;
    right: 0;
    transform: translateX(75%);

    @media (min-width: 768px) {
      transform: translateX(100%);
    }
    @media (min-width: 1366px) {
      font-size: 18px;
    }


  }
}

.reviews__autor {

  @media (min-width: 768px) {
    font-size: 16px;
  }

  @media (min-width: 1366px) {
    font-size: 27px;
  }
}

.reviews__autor-desc {
  margin-bottom: 12px;

  @media (min-width: 768px) {
    margin-bottom: 16px;
  }

  @media (min-width: 1366px) {
    margin-bottom: 32px;
  }
}

.reviews__text {
  @media (min-width: 1366px) {
    font-size: 18px;
  }

}

.reviews__unwrap {
  font-family: "Circe-Regular";
  color: #f87b91;
  font-style: italic;
  text-decoration: underline;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: 5px;
  margin-right: 35px;

  @media (min-width: 1366px) {
    font-size: 18px;
  }
}