.site-list {
  list-style-type: none;
  // font-family: "Circe-Regular";
  // font-size: 14px;
  margin: 0;
  padding: 0;
}


.site-list__link {
  color: #000;
  text-decoration: none;


  &--header {
    margin-right: 45px;
  }

  &--footer {
    color: #fff;
    font-size: 12px;

    @media (min-width: 1366px) {
      color: #000;
      font-size: 16px;
    }
  }

  &--current,
  &:hover {
    color: #f50049;
  }
}