@font-face {
	font-family: Circe;
	font-display: swap;
	src: url("../fonts/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: IntroScriptR;
	font-display: swap;
	src: url("../fonts/IntroScriptR-H2Base.woff2") format("woff2"), url("../fonts/IntroScriptR-H2Base.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PlayfairDisplay;
	font-display: swap;
	src: url("../fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/PlayfairDisplay-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PlayfairDisplay;
	font-display: swap;
	src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
