@import "./blocks/header.less";
@import "./blocks/fonts.less";
@import "./blocks/logo.less";
@import "./blocks/intro.less";
@import "./blocks/hero.less";
@import "./blocks/title.less";
@import "./blocks/page.less";
@import "./blocks/our-cakes.less";
@import "./blocks/main-page.less";
@import "./blocks/order.less";
@import "./blocks/reviews.less";
@import "./blocks/about.less";
@import "./blocks/advantages.less";
@import "./blocks/customer-care.less";
@import "./blocks/how-to-order.less";
@import "./blocks/contacts.less";
@import "./blocks/footer.less";
@import "./blocks/site-list.less";
@import "./blocks/phone.less";
@import "./blocks/button.less";
@import "./blocks/toggles.less";
@import "./blocks/order-result.less";


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

