@import "./blocks/header.less";
@import "./blocks/fonts.less";
@import "./blocks/logo.less";
@import "./blocks/intro.less";
@import "./blocks/hero.less";
@import "./blocks/title.less";
@import "./blocks/page.less";
@import "./blocks/our-cakes.less";
@import "./blocks/main-page.less";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

