.btn {
    display: inline-block;
    padding: 12px;
    background-color: #f50049;
    border-radius: 25px;

    font-family: var(--font-main);
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #fff;
    text-align: center;

    &:hover {
        box-shadow: 0px 5px 7.04px 0.96px rgba(255, 0, 67, 0.3);
    }
}