// .bullet-navigation {
//     position: relative;
//     display: flex;
//     align-items: center;

//     @include mobile {
//         display: none;
//     }

//     &--order-1-left {
//         margin-right: 54px;

//         @include tablet {
//             margin-right: 40px;
//         }

//     }

//     &--prev {
//         background-color: #fff;
//         background-image: url(./../img/icons/arrow-left-ico.svg);
//         background-repeat: no-repeat;
//         background-position: center center;
//         width: 40px;
//         height: 40px;
//         border-radius: 50%;
//         opacity: 0.6;
//         box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
//     }



// }

// .bullet-navigation--next {
//     // position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     right: 0;
//     background-color: #fff;
//     background-image: url(./../img/icons/arrow-right-ico.svg);
//     background-repeat: no-repeat;
//     background-position: center center;
//     width: 40px;
//     height: 40px;
//     border-radius: 50%;
//     opacity: 0.6;
//     box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
// }

// .bullet-navigation--prev {
//     // position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     left: 0;
//     background-color: #fff;
//     background-image: url(./../img/icons/arrow-left-ico.svg);
//     background-repeat: no-repeat;
//     background-position: center center;
//     width: 40px;
//     height: 40px;
//     border-radius: 50%;
//     opacity: 0.6;
//     box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
// }




.bullet-navigation-counter {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    right: 20px;
    bottom: 0;

    @include tablet {
        font-size: 12px;
    }

    &--reviews {
        color: var(--accent);
    }
}