.order-step-filling {
    position: relative;
    padding: 90px 120px 90px 180px;
    background-color: #fff;
    box-shadow: 0px 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);
    margin-bottom: 35px;

    @include tablet {
        padding: 55px 50px 55px 90px;
        margin-bottom: 21px;
    }

    @include mobile {
        padding: 20px;
        margin-bottom: 10px;
    }
}

.order-step-filling__wrapper {
    height: auto;
    display: flex;
    justify-content: center;

    @include mobile {
        flex-direction: column;
    }
}

.order-step-filling__fillings-wrapper {
    padding: 45px 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    // justify-content: space-between;
    max-width: 300px;

    @include tablet {
        padding: 10px 25px;
        max-width: 250px;
    }

    @include mobile {
        padding: 0;
        max-width: 100%;
        min-height: 220px;
    }
}

.fillings__img {
    width: 343px;
    height: 390px;
    border-radius: 10px;
    object-fit: cover;

    @include tablet {
        width: 210px;
        height: 239px;
    }

    @include mobile {
        width: 241px;
        height: 113px;
    }
}

.fillings__title {
    width: 100%;
    font-size: 24px;
    line-height: 2.733;
    color: #2f2f2f;

    @include tablet {
        font-size: 18px;
        line-height: 1.849;
    }

    @include mobile {
        font-size: 16px;
        line-height: 3.415;
        order: 1;
    }
}

.fillings__desc {
    width: 100%;
    font-size: 18px;
    line-height: 1.333;

    @include tablet {
        font-size: 14px;
        line-height: 1.2;
    }

    @include mobile {
        order: 2;
    }
}

.price-button {
    margin-top: auto;
    order: 3;
}

.fillings__price {
    width: 100%;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 50px;


    @include tablet {
        font-size: 20px;
        margin-bottom: 25px;
    }

    @include mobile {
        font-size: 18px;
        order: 1;
        text-align: center;
    }
}

.fillings__button {
    display: block;

    @include mobile {
        margin: 0 auto;
    }
}