.site-list {
    font-family: var(--font-main);

    &--header a {
        font-size: 13px;
        text-transform: uppercase;
        color: #2d2829;

        &:hover {
            color: #f50049;
        }

    }

    &--footer a {
        font-size: 16px;
        color: #2d2829;

        @include tablet {
            font-family: "Roboto";
            font-size: 12px;
            line-height: 1.2;
            color: #fff;
        }

        @include mobile {
            font-size: 14px;
        }

        &:hover {
            color: #f50049;
        }
    }
}