.social-links {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        height: 36px;
        width: 36px;
        border-radius: 50%;
    }
}