div.column {
    /* The background image must be 800px wide */
    // max-width: 800px;
    padding: 25px;
    margin: 0 auto;
}

figure.fixedratio {

    @include fluid-ratio(728px 312px, 280px 120px );

    background-image: url(./../img/hero/1111@2x.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-color: #e4c3c3;
}