.main-header {
  background-color: #fff;
  height: 40px;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-header {
    height: 60px;
    width: 768px;
  }
}
@media (min-width: 1366px) {
  .main-header {
    background-color: transparent;
    height: 80px;
    width: 1366px;
  }
}
.main-header__wrapper {
  margin: 0 auto;
  width: 280px;
  height: 100%;
}
@media (min-width: 768px) {
  .main-header__wrapper {
    justify-content: start;
    width: 728px;
  }
}
@media (min-width: 1366px) {
  .main-header__wrapper {
    align-items: end;
    width: 1220px;
  }
}
@media (min-width: 768px) {
  .main-header__logo {
    margin-right: 22px;
  }
}
@media (min-width: 1366px) {
  .main-header__logo {
    margin-right: 50px;
    font-size: 24px;
  }
}
.main-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media (min-width: 768px) {
  .main-nav {
    justify-content: left;
  }
}
@media (min-width: 1366px) {
  .main-nav {
    justify-content: space-between;
  }
}
.main-nav__list {
  position: absolute;
  top: 40px;
  left: -20px;
  z-index: 2;
}
@media (min-width: 768px) {
  .main-nav__list {
    top: 60px;
  }
}
@media (min-width: 1366px) {
  .main-nav__list {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
  }
}
@media (max-width: 768px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
}
.main-header__phone {
  display: none;
}
@media (min-width: 768px) {
  .main-header__phone {
    display: block;
    margin-left: auto;
    padding-right: 25px;
  }
}
@media (min-width: 1366px) {
  .main-header__phone {
    padding-top: 12px;
    padding-right: 0;
    font-size: 15px;
  }
}
.main-nav__toggle {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 32px;
  height: 32px;
}
@media (min-width: 1366px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--opened .main-nav__toggle {
  background-image: url(../img/burger-menu-open.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-nav--closed .main-nav__toggle {
  background-image: url(../img/burger-menu-close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/PlayfairDisplay-Bold.woff) format('woff'), url(../fonts/PlayfairDisplay-Bold.woff2) format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: "PlayfairDisplay-BoldItalic";
  src: url(../fonts/PlayfairDisplay-BoldItalic.woff) format('woff'), url(../fonts/PlayfairDisplay-BoldItalic.woff2) format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: "Circe-Regular";
  src: url(../fonts/Circe-Regular.woff) format('woff'), url(../fonts/Circe-Regular.woff2) format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: "IntroScriptR-H2Base";
  src: url(../fonts/IntroScriptR-H2Base.woff) format('woff'), url(../fonts/IntroScriptR-H2Base.woff2) format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.woff) format('woff'), url(../fonts/Roboto-Regular.woff2) format('woff2');
  font-weight: 700;
}
.logo {
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 700;
  color: #000;
  line-height: 32px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .logo {
    font-size: 20px;
  }
}
@media (min-width: 1366px) {
  .logo {
    font-size: 24px;
  }
}
.intro {
  font-family: IntroScriptR-H2Base;
  font-size: 22px;
  color: #32313d;
}
@media (min-width: 768px) {
  .intro {
    font-size: 32px;
  }
}
@media (min-width: 1366px) {
  .intro {
    font-size: 42px;
  }
}
.hero-cakes-wrapper {
  background-image: url(../img/cake-photo-320.png);
  background-repeat: no-repeat;
  background-position: center top -35px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .hero-cakes-wrapper {
    width: 768px;
    margin: 0 auto;
    background-image: url(../img/hero-tablet.png);
    background-position: top right;
  }
}
@media (min-width: 1366px) {
  .hero-cakes-wrapper {
    width: 1366px;
    margin: 0 auto;
    background-image: url(../img/hero-desktop.png);
    background-position: top right;
  }
}
.hero__wrapper {
  margin: 0 auto;
  width: 280px;
  padding-top: 222px;
  margin-bottom: 53px;
}
@media (min-width: 768px) {
  .hero__wrapper {
    width: 678px;
    text-align: left;
    padding-top: 240px;
  }
}
@media (min-width: 1366px) {
  .hero__wrapper {
    width: 1220px;
    padding-top: 324px;
    margin-bottom: 170px;
  }
}
.hero__priority-handmade {
  margin-bottom: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .hero__priority-handmade {
    text-align: left;
    margin-bottom: 55px;
  }
}
.hero__flex-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .hero__flex-wrapper {
    flex-direction: column-reverse;
  }
}
.hero__priority-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
}
@media (min-width: 768px) {
  .hero__priority-wrapper {
    flex-direction: row;
  }
}
.hero__priority-nature {
  position: relative;
  padding-left: 44px;
  margin-bottom: 20px;
}
.hero__priority-nature::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: -8px;
  background-image: url(../img/nature-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 34px;
  height: 34px;
}
@media (min-width: 768px) {
  .hero__priority-nature::before {
    top: 0;
  }
}
@media (min-width: 768px) {
  .hero__priority-nature {
    width: 200px;
    margin-right: 20px;
  }
}
.hero__priority-delivery {
  position: relative;
  padding-left: 44px;
  text-align: left;
}
.hero__priority-delivery::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/delivery-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 34px;
  height: 34px;
}
.hero__button {
  margin: 0 auto;
  height: 51px;
  width: 226px;
}
@media (min-width: 768px) {
  .hero__button {
    margin: 0;
    margin-bottom: 145px;
  }
}
@media (min-width: 768px) {
  .hero__button {
    margin: 0;
    margin-bottom: 130px;
  }
}
.title {
  font-family: Playfair Display;
  font-weight: 700;
  color: #2d2829;
}
.page {
  font-family: Circe-Regular;
  font-size: 14px;
}
.page__body {
  margin: 0 auto;
  background-color: #fbebea;
  max-width: 1366px;
  min-width: 320px;
}
* {
  margin: 0;
}
.our-cakes {
  margin-bottom: 53px;
}
@media (min-width: 768px) {
  .our-cakes {
    margin-bottom: 65px;
  }
}
@media (min-width: 1366px) {
  .our-cakes {
    margin-bottom: 105px;
  }
}
.our-cakes__wrapper {
  margin: 0 auto;
  width: 280px;
}
@media (min-width: 768px) {
  .our-cakes__wrapper {
    width: 728px;
  }
}
@media (min-width: 1366px) {
  .our-cakes__wrapper {
    width: 1220px;
  }
}
.our-cakes__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 36px;
}
@media (min-width: 768px) {
  .our-cakes__title {
    font-size: 28px;
    text-align: left;
    margin-bottom: 42px;
  }
}
@media (min-width: 1366px) {
  .our-cakes__title {
    font-size: 40px;
    margin-bottom: 70px;
  }
}
.our-cakes__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .our-cakes__list {
    grid-template-columns: 290px 110px 290px;
    grid-template-rows: repeat(4, 185px);
    gap: 20px;
  }
}
@media (min-width: 1366px) {
  .our-cakes__list {
    grid-template-columns: 485px 170px 485px;
    grid-template-rows: repeat(4, 305px);
    grid-column-gap: 45px;
    grid-row-gap: 40px;
  }
}
@media (min-width: 768px) {
  .our-cakes__item:hover {
    background-color: #aeaeae;
    box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.12);
  }
}
.our-cakes__item {
  box-sizing: border-box;
  height: 120px;
  padding-top: 14px;
  padding-left: 14px;
}
.our-cakes__item--classic {
  background-image: url(../img/classic-cakes.jpg);
  background-repeat: no-repeat;
  position: relative;
}
@media (min-width: 768px) {
  .our-cakes__item--classic {
    height: auto;
    grid-column: 1/3;
    grid-row: 1/3;
    background-image: url(../img/classic-cakes-tablet.jpg);
    box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);
  }
}
@media (min-width: 1366px) {
  .our-cakes__item--classic {
    height: auto;
    grid-column: 1/3;
    grid-row: 1/3;
    background-image: url(../img/classic-cakes-desktop.jpg);
    box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);
  }
}
@media (min-width: 768px) {
  .our-cakes__item--classic::after {
    position: absolute;
    content: "Смотреть";
    font-size: 12px;
    right: 45px;
    bottom: 20px;
    cursor: pointer;
  }
}
@media (min-width: 1366px) {
  .our-cakes__item--classic::after {
    font-size: 20px;
    line-height: 20px;
    padding-right: 110px;
    background-image: url(../img/arrow-show.png);
    background-position: right 10px center;
    background-repeat: no-repeat;
    bottom: 45px;
    width: 17px;
    height: 12px;
  }
}
.our-cakes__item--muss {
  background-image: url(../img/muss-cakes.jpg);
  background-repeat: no-repeat;
  position: relative;
}
@media (min-width: 768px) {
  .our-cakes__item--muss {
    height: auto;
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url(../img/muss-cakes-tablet.jpg);
    box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);
  }
}
@media (min-width: 1366px) {
  .our-cakes__item--muss {
    height: auto;
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url(../img/muss-cakes-desktop.jpg);
    box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);
  }
}
@media (min-width: 1366px) {
  .our-cakes__item--muss::after {
    position: absolute;
    content: "";
    right: 45px;
    bottom: 45px;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    background-image: url(../img/arrow-show.png);
    width: 17px;
    height: 12px;
  }
}
.our-cakes__item--wedding {
  background-image: url(../img/wedding-cakes.jpg);
  background-repeat: no-repeat;
  position: relative;
}
@media (min-width: 768px) {
  .our-cakes__item--wedding {
    height: auto;
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(../img/wedding-cakes-tablet.jpg);
    box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);
  }
}
@media (min-width: 1366px) {
  .our-cakes__item--wedding {
    height: auto;
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(../img/wedding-cakes-desktop.jpg);
    box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);
  }
}
@media (min-width: 1366px) {
  .our-cakes__item--wedding::after {
    position: absolute;
    content: "";
    right: 45px;
    bottom: 45px;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    background-image: url(../img/arrow-show.png);
    width: 17px;
    height: 12px;
  }
}
.our-cakes__item--mans {
  background-image: url(../img/mens-cakes.jpg);
  background-repeat: no-repeat;
  position: relative;
}
@media (min-width: 768px) {
  .our-cakes__item--mans {
    height: auto;
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url(../img/mens-cakes-tablet.jpg);
    box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);
  }
}
@media (min-width: 1366px) {
  .our-cakes__item--mans {
    height: auto;
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url(../img/mens-cakes-desktop.jpg);
    box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);
  }
}
@media (min-width: 1366px) {
  .our-cakes__item--mans::after {
    position: absolute;
    content: "";
    right: 45px;
    bottom: 45px;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    background-image: url(../img/arrow-show.png);
    width: 17px;
    height: 12px;
  }
}
.our-cakes__item--woman {
  background-image: url(../img/woman-cakes.jpg);
  background-repeat: no-repeat;
  position: relative;
}
@media (min-width: 768px) {
  .our-cakes__item--woman {
    height: auto;
    grid-column: 1/2;
    grid-row: 4/5;
    background-image: url(../img/woman-cakes-tablet.jpg);
    box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);
  }
}
@media (min-width: 1366px) {
  .our-cakes__item--woman {
    height: auto;
    grid-column: 1/2;
    grid-row: 4/5;
    background-image: url(../img/woman-cakes-desktop.jpg);
    box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);
  }
}
@media (min-width: 1366px) {
  .our-cakes__item--woman::after {
    position: absolute;
    content: "";
    right: 45px;
    bottom: 45px;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    background-image: url(../img/arrow-show.png);
    width: 17px;
    height: 12px;
  }
}
.our-cakes__item--child {
  background-image: url(../img/child-cakes.jpg);
  background-repeat: no-repeat;
  position: relative;
}
@media (min-width: 768px) {
  .our-cakes__item--child {
    height: auto;
    grid-column: 2/4;
    grid-row: 3/5;
    background-image: url(../img/child-cakes-tablet.jpg);
    background-size: cover;
    box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);
  }
}
@media (min-width: 1366px) {
  .our-cakes__item--child {
    height: auto;
    grid-column: 2/4;
    grid-row: 3/5;
    background-image: url(../img/child-cakes-desktop.jpg);
    background-size: cover;
    box-shadow: 0px 10px 12.74px 0.26px rgba(163, 6, 60, 0.05);
  }
}
@media (min-width: 1366px) {
  .our-cakes__item--child::after {
    position: absolute;
    content: "";
    right: 45px;
    bottom: 45px;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    background-image: url(../img/arrow-show.png);
    width: 17px;
    height: 12px;
  }
}
.our-cakes__name {
  font-size: 14px;
  color: #2d2829;
}
@media (min-width: 768px) {
  .our-cakes__name {
    font-size: 16px;
  }
}
@media (min-width: 1366px) {
  .our-cakes__name {
    font-size: 24px;
  }
}
.our-cakes__quantity {
  font-size: 12px;
  color: rgba(45, 40, 41, 0.7);
}
@media (min-width: 768px) {
  .our-cakes__quantity {
    font-size: 14px;
  }
}
@media (min-width: 1366px) {
  .our-cakes__quantity {
    font-size: 20px;
  }
}
.main-page__title-wrapper {
  position: relative;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-page__title-wrapper {
    width: 678px;
  }
}
@media (min-width: 1366px) {
  .main-page__title-wrapper {
    width: 1220px;
  }
}
.main-page__title {
  position: absolute;
  top: 135px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 39px;
  line-height: 36px;
  text-align: center;
}
@media (min-width: 768px) {
  .main-page__title {
    font-size: 60px;
    line-height: 55px;
    text-align: left;
    letter-spacing: 0.05em;
    top: 112px;
    left: 0;
    transform: translateX(0px);
  }
}
@media (min-width: 1366px) {
  .main-page__title {
    font-size: 78px;
    line-height: 70px;
    letter-spacing: 0.075em;
    top: 165px;
    left: 0;
    transform: translateX(0px);
  }
}
.order-step__title br {
  display: none;
}
@media (min-width: 768px) {
  .order-step__title br {
    display: block;
  }
}
.order__wrapper {
  margin: 0 auto;
  width: 280px;
}
@media (min-width: 768px) {
  .order__wrapper {
    width: 728px;
  }
}
@media (min-width: 1366px) {
  .order__wrapper {
    width: 1220px;
  }
}
.order__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .order__title {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1366px) {
  .order__title {
    font-size: 40px;
    margin-bottom: 25px;
  }
}
.order-text {
  font-size: 22px;
  text-align: center;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .order-text {
    font-size: 28px;
    margin-bottom: 36px;
  }
}
@media (min-width: 1366px) {
  .order-text {
    font-size: 40px;
    margin-bottom: 55px;
  }
}
.order-steps {
  list-style-type: none;
  padding: 0;
}
.order-step {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .order-step--arrows-1::before {
    position: absolute;
    content: "";
    background-color: #fff;
    background-image: url(../img/arrow-left-ico.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.6;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
    top: 50%;
    left: 90px;
  }
}
@media (min-width: 1366px) {
  .order-step--arrows-1::before {
    left: 180px;
  }
}
@media (min-width: 768px) {
  .order-step--arrows-1::after {
    position: absolute;
    content: "";
    background-color: #fff;
    background-image: url(../img/arrow-right-ico.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.6;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
    top: 50%;
    right: 50px;
  }
}
@media (min-width: 1366px) {
  .order-step--arrows-1::after {
    right: 120px;
  }
}
@media (min-width: 768px) {
  .order-step--arrows-3::before {
    position: absolute;
    content: "";
    background-color: #fff;
    background-image: url(../img/arrow-left-ico.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.6;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
    top: 50%;
    left: 275px;
  }
}
@media (min-width: 768px) {
  .order-step--arrows-3::after {
    position: absolute;
    content: "";
    background-color: #fff;
    background-image: url(../img/arrow-right-ico.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.6;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
    top: 50%;
    right: 25px;
  }
}
@media (min-width: 1366px) {
  .order-step--arrows-3::after {
    right: 75px;
  }
}
@media (min-width: 768px) {
  .order-step--decor {
    background: url(../img/order-step-3-tablet.png) left bottom 50px no-repeat #fff;
  }
}
@media (min-width: 1366px) {
  .order-step--decor {
    background: url(../img/order-step-3-desktop.png) left bottom 25px no-repeat #fff;
  }
}
@media (min-width: 768px) {
  .order-step {
    flex-direction: row;
    height: 350px;
  }
}
@media (min-width: 1366px) {
  .order-step {
    height: 570px;
  }
}
.order-step:not(:last-child) {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .order-step:not(:last-child) {
    margin-bottom: 20px;
    box-shadow: 0px 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);
  }
}
@media (min-width: 1366px) {
  .order-step:not(:last-child) {
    margin-bottom: 30px;
  }
}
.order-step__title {
  font-size: 16px;
  color: #f50049;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .order-step__title {
    font-size: 18px;
    width: 125px;
    padding-top: 45px;
    padding-left: 45px;
    margin-bottom: 0;
  }
}
@media (min-width: 1366px) {
  .order-step__title {
    font-size: 27px;
    padding-top: 75px;
    padding-left: 80px;
    margin-right: 120px;
  }
}
.step-number {
  font-family: "Playfair Display";
  font-size: 30px;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .step-number {
    font-size: 36px;
  }
}
@media (min-width: 1366px) {
  .step-number {
    font-size: 58px;
  }
}
.order-step__img-wrapper {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .order-step__img-wrapper {
    margin: 0;
    margin-right: 30px;
    padding-top: 10px;
  }
}
@media (min-width: 1366px) {
  .order-step__img-wrapper {
    padding-top: 60px;
    margin-right: 45px;
  }
}
.order-step__fillings-wrapper {
  margin: 0 auto;
  width: 240px;
}
@media (min-width: 768px) {
  .order-step__fillings-wrapper {
    margin: 0;
    padding-top: 80px;
    width: 180px;
  }
}
@media (min-width: 1366px) {
  .order-step__fillings-wrapper {
    margin: 0;
    width: 290px;
  }
}
.fillings__title {
  order: 2;
  font-size: 16px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .fillings__title {
    font-size: 18px;
    margin-bottom: 12px;
  }
}
@media (min-width: 1366px) {
  .fillings__title {
    font-size: 20px;
    padding-top: 70px;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .fillings__img {
    padding-top: 55px;
  }
}
.fillings__desc {
  order: 3;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .fillings__desc {
    line-height: 17px;
    margin-bottom: 15px;
  }
}
@media (min-width: 1366px) {
  .fillings__desc {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 32px;
  }
}
.fillings__price {
  font-family: "Playfair Display";
  font-size: 18px;
  order: 4;
  text-align: center;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .fillings__price {
    font-size: 20px;
    text-align: left;
    margin: 0;
    margin-bottom: 30px;
  }
}
@media (min-width: 1366px) {
  .fillings__price {
    font-size: 22px;
    margin: 0;
    margin-bottom: 55px;
  }
}
.fillings__toggles {
  margin: 0 auto;
  margin-bottom: 20px;
}
.fillings__button {
  display: block;
  width: 178px;
  height: 51px;
  margin: 0 auto;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .fillings__button {
    width: 135px;
    height: 43px;
    margin: 0;
  }
}
@media (min-width: 1366px) {
  .fillings__button {
    width: 178px;
    height: 51px;
  }
}
.order-step__size {
  padding-top: 28px;
}
@media (min-width: 768px) {
  .order-step__size {
    position: relative;
  }
}
.size__list {
  display: flex;
  align-items: end;
  list-style-type: none;
  padding: 0;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .size__list {
    position: absolute;
    left: -85px;
    margin-bottom: 0;
    padding-top: 45px;
  }
}
@media (min-width: 1366px) {
  .size__list {
    position: absolute;
    left: -55px;
    margin-bottom: 0;
    padding-top: 110px;
  }
}
li.size__item:not(:first-of-type) {
  display: none;
}
@media (min-width: 768px) {
  li.size__item:not(:first-of-type) {
    display: flex;
  }
}
.size__item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .size__item--size-1 {
    margin-right: 55px;
  }
  .size__item--size-2 {
    margin-right: 35px;
  }
  .size__item--size-3 {
    margin-right: 50px;
  }
}
@media (min-width: 1366px) {
  .size__item--size-1 {
    margin-right: 70px;
  }
  .size__item--size-2 {
    margin-right: 65px;
  }
  .size__item--size-3 {
    margin-right: 75px;
  }
}
.size__img {
  display: block;
  order: 1;
}
@media (min-width: 1366px) {
  .size__img--size-1 {
    height: 120px;
    width: 120px;
  }
  .size__img--size-2 {
    height: 155px;
    width: 155px;
  }
  .size__img--size-3 {
    height: 175px;
    width: 175px;
  }
  .size__img--size-4 {
    height: 200px;
    width: 200px;
  }
}
.img-before {
  position: relative;
  margin: 0 auto;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .img-before {
    margin-bottom: 22px;
  }
}
.img-before--size-1::before {
  position: absolute;
  content: "1 кг";
  font-size: 16px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
}
@media (min-width: 1366px) {
  .img-before--size-1::before {
    font-size: 18px;
  }
}
.img-before--size-2::before {
  position: absolute;
  content: "2 кг";
  font-size: 16px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
}
@media (min-width: 1366px) {
  .img-before--size-2::before {
    font-size: 18px;
  }
}
.img-before--size-3::before {
  position: absolute;
  content: "5 кг";
  font-size: 16px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
}
@media (min-width: 1366px) {
  .img-before--size-3::before {
    font-size: 18px;
  }
}
.img-before--size-4::before {
  position: absolute;
  content: "8 кг";
  font-size: 16px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
}
@media (min-width: 1366px) {
  .img-before--size-4::before {
    font-size: 18px;
  }
}
.size__toggle {
  order: 2;
  margin-bottom: 15px;
}
.size__title {
  order: 3;
  text-align: center;
}
@media (min-width: 768px) {
  .size__title {
    font-size: 12px;
  }
}
@media (min-width: 1366px) {
  .size__title {
    font-size: 18px;
  }
}
.size_desc {
  order: 4;
  text-align: center;
}
@media (min-width: 768px) {
  .size_desc {
    font-size: 12px;
  }
}
@media (min-width: 1366px) {
  .size_desc {
    font-size: 18px;
  }
}
.size__button {
  height: 51px;
  width: 178px;
  margin: 0 auto;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .size__button {
    display: none;
  }
}
@media (min-width: 768px) {
  .decoration {
    padding-top: 60px;
    margin-left: 50px;
  }
}
.decoration__list {
  display: flex;
  align-items: end;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .decoration__list {
    flex-direction: row-reverse;
  }
}
.decoration__item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 210px;
}
@media (min-width: 768px) {
  .decoration__item {
    position: relative;
    width: auto;
  }
}
li.decoration__item:not(:first-of-type) {
  display: none;
}
@media (min-width: 768px) {
  li.decoration__item:not(:first-of-type) {
    display: flex;
  }
}
.decoration__title {
  order: 3;
  text-align: center;
  width: auto;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .decoration__title {
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
  }
}
.decoration__img {
  display: block;
  order: 1;
  margin: 0 auto;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .decoration__img {
    width: 215px;
    height: 281px;
  }
}
@media (min-width: 1366px) {
  .decoration__img {
    width: 339px;
    height: 449px;
  }
}
.decoration__price {
  order: 4;
  font-family: "Playfair Display";
  font-size: 18px;
  text-align: center;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .decoration__price {
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin: 0;
    transform: translateX(-50%);
  }
}
.decoration__toggle {
  order: 2;
  margin: 0 auto;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .decoration__toggle {
    display: none;
  }
}
.decoration__button {
  margin: 0 auto;
  height: 51px;
  width: 178px;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .decoration__button {
    display: none;
  }
}
.order-result {
  background-color: #fff;
}
@media (min-width: 768px) {
  .order-result {
    box-shadow: 0px 5px 12.74px 0.26px rgba(163, 6, 60, 0.1);
  }
}
.order-result__title {
  text-align: left;
}
@media (min-width: 768px) {
  .reviews {
    width: 768px;
    margin: 0 auto;
    background: url(../img/reviews-decor-left-tablet.png) top left no-repeat, url(../img/reviews-decor-right-tablet.png) top right no-repeat;
  }
}
@media (min-width: 1366px) {
  .reviews {
    width: 1366px;
    margin: 0 auto;
    background: url(../img/reviews-decor-left-desktop.png) top left no-repeat, url(../img/reviews-decor-right-desktop.png) top right no-repeat;
  }
}
.reviews__wrapper {
  margin: 0 auto;
  width: 280px;
  padding-top: 50px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .reviews__wrapper {
    width: 728px;
    margin-bottom: 110px;
  }
}
@media (min-width: 1366px) {
  .reviews__wrapper {
    width: 1220px;
    margin-bottom: 175px;
  }
}
.reviews__title {
  font-size: 24px;
  margin-bottom: 25px;
  text-align: center;
}
@media (min-width: 768px) {
  .reviews__title {
    font-size: 28px;
    margin-bottom: 32px;
  }
}
@media (min-width: 1366px) {
  .reviews__title {
    font-size: 40px;
    margin-bottom: 65px;
  }
}
.reviews__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .reviews__block {
    flex-direction: row;
    width: 410px;
    margin: 0 auto;
  }
}
@media (min-width: 1366px) {
  .reviews__block {
    width: 620px;
  }
}
.reviews__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .reviews__img {
    width: 110px;
    height: 110px;
    margin: 0;
    margin-right: 25px;
  }
}
@media (min-width: 1366px) {
  .reviews__img {
    width: 210px;
    height: 210px;
    margin-right: 55px;
  }
}
.reviews__content {
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .reviews__content {
    text-align: left;
    width: 255px;
  }
}
@media (min-width: 1366px) {
  .reviews__content {
    width: 400px;
  }
}
.reviews__content::after {
  position: absolute;
  content: "1/26";
  font-size: 12px;
  color: #f87b91;
  bottom: 0;
  right: 0;
  transform: translateX(75%);
}
@media (min-width: 768px) {
  .reviews__content::after {
    transform: translateX(100%);
  }
}
@media (min-width: 1366px) {
  .reviews__content::after {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .reviews__autor {
    font-size: 16px;
  }
}
@media (min-width: 1366px) {
  .reviews__autor {
    font-size: 27px;
  }
}
.reviews__autor-desc {
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .reviews__autor-desc {
    margin-bottom: 16px;
  }
}
@media (min-width: 1366px) {
  .reviews__autor-desc {
    margin-bottom: 32px;
  }
}
@media (min-width: 1366px) {
  .reviews__text {
    font-size: 18px;
  }
}
.reviews__unwrap {
  font-family: "Circe-Regular";
  color: #f87b91;
  font-style: italic;
  text-decoration: underline;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: 5px;
  margin-right: 35px;
}
@media (min-width: 1366px) {
  .reviews__unwrap {
    font-size: 18px;
  }
}
.about__wrapper {
  margin: 0 auto;
  width: 280px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .about__wrapper {
    position: relative;
    width: 678px;
  }
}
@media (min-width: 1366px) {
  .about__wrapper {
    width: 1220px;
  }
}
.about__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .about__title {
    position: absolute;
    font-size: 28px;
    text-align: left;
  }
}
@media (min-width: 1366px) {
  .about__title {
    font-size: 40px;
  }
}
.about__content {
  display: grid;
  grid-template-columns: 160px 120px;
  grid-template-rows: auto auto;
}
@media (min-width: 768px) {
  .about__content {
    grid-template-columns: auto 310px;
    column-gap: 35px;
  }
}
@media (min-width: 1366px) {
  .about__content {
    grid-template-columns: auto 580px;
    column-gap: 90px;
  }
}
.about__img {
  grid-row: 1/2;
  grid-column: 1/2;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .about__img {
    grid-row: 1/3;
    grid-column: 2/3;
    width: 310px;
    height: 310px;
    margin-bottom: 0;
  }
}
@media (min-width: 1366px) {
  .about__img {
    width: 510px;
    height: 510px;
    margin-right: 70px;
    margin-bottom: 30px;
  }
}
.about-intro__wrapper {
  grid-row: 2/3;
  grid-column: 1/3;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .about-intro__wrapper {
    grid-row: 1/2;
    grid-column: 1/2;
    padding-top: 50px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1366px) {
  .about-intro__wrapper {
    padding-top: 80px;
  }
}
.about-intro {
  line-height: 17px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .about-intro {
    font-size: 26px;
    line-height: 20px;
  }
}
@media (min-width: 1366px) {
  .about-intro {
    font-size: 35px;
    margin-bottom: 18px;
  }
}
.about__slogan {
  margin-bottom: 7px;
  line-height: 12px;
}
@media (min-width: 768px) {
  .about__slogan {
    font-size: 15px;
    line-height: 12px;
  }
}
@media (min-width: 1366px) {
  .about__slogan {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
.about__text {
  margin-bottom: 20px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .about__text {
    line-height: 16px;
    margin-bottom: 7px;
  }
}
@media (min-width: 1366px) {
  .about__text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
  }
}
.about__social {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}
@media (min-width: 768px) {
  .about__social {
    grid-row: 2/3;
    grid-column: 1/2;
    flex-direction: row;
    margin: 0;
    align-items: end;
    padding-bottom: 70px;
  }
}
@media (min-width: 1366px) {
  .about__social {
    padding-bottom: 0;
    align-items: start;
  }
}
.about__social--telegram {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url(../img/telegram-icon-phone.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .about__social--telegram {
    margin-bottom: 0;
    margin-right: 15px;
  }
}
.about__social--vk {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url(../img/vk-icon-phone.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .about__social--vk {
    margin-bottom: 0;
    margin-right: 15px;
  }
}
.about__social--youtube {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url(../img/youtube-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.blockquote {
  position: relative;
  grid-row: 3/4;
  grid-column: 1/3;
}
@media (min-width: 768px) {
  .blockquote {
    width: 355px;
    margin: 0 auto;
  }
}
@media (min-width: 1366px) {
  .blockquote {
    width: 620px;
    font-size: 25px;
  }
}
.blockquote::before {
  position: absolute;
  content: "\201e";
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Playfair Display";
  font-size: 60px;
  color: #fff;
}
@media (min-width: 1366px) {
  .blockquote::before {
    font-size: 140px;
    top: -110px;
  }
}
.blockquote__text {
  font-family: PlayfairDisplay-BoldItalic;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 1366px) {
  .blockquote__text {
    margin-top: 80px;
  }
}
.blockquote__img {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .blockquote__img {
    width: 82px;
    height: 40px;
  }
}
@media (min-width: 1366px) {
  .blockquote__img {
    width: 149px;
    height: 73px;
  }
}
@media (min-width: 768px) {
  .advantages-customer-wrapper {
    width: 768px;
    margin: 0 auto;
    background: url(../img/advantages-customer-left-tablet.png) top left no-repeat, url(../img/advantages-customer-right-tablet.png) bottom right no-repeat;
  }
}
@media (min-width: 1366px) {
  .advantages-customer-wrapper {
    width: 1366px;
    margin: 0 auto;
    background: url(../img/advantages-customer-left-desktop.png) top left no-repeat, url(../img/advantages-customer-right-desktop.png) bottom right no-repeat;
  }
}
.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    width: 678px;
    margin-bottom: 212px;
  }
}
@media (min-width: 1366px) {
  .advantages__wrapper {
    width: 1220px;
    margin-bottom: 415px;
  }
}
.advantages__title {
  font-size: 24px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 28px;
    line-height: 21px;
  }
}
@media (min-width: 1366px) {
  .advantages__title {
    font-size: 40px;
    line-height: 32px;
    margin-bottom: 38px;
  }
}
.advantages__intro {
  text-align: center;
  line-height: 22px;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .advantages__intro {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 62px;
  }
}
@media (min-width: 1366px) {
  .advantages__intro {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 132px;
  }
}
.advantages__list {
  list-style-type: none;
  background-color: #fff;
  padding: 0;
  padding-top: 87px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .advantages__list {
    padding: 0;
    background-color: transparent;
  }
}
.advantages_item {
  display: block;
  text-align: center;
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .advantages_item {
    text-align: left;
    width: 285px;
    margin: 0;
    margin-left: auto;
  }
}
@media (min-width: 1366px) {
  .advantages_item {
    width: 340px;
    margin-right: 255px;
  }
}
.advantages_item--nature {
  position: relative;
  margin-bottom: 70px;
}
@media (min-width: 768px) {
  .advantages_item--nature {
    margin-bottom: 20px;
  }
}
@media (min-width: 1366px) {
  .advantages_item--nature {
    margin-bottom: 45px;
  }
}
.advantages_item--nature::before {
  position: absolute;
  content: "";
  height: 61px;
  width: 61px;
  left: 50%;
  transform: translateY(-100%) translateY(-15px) translateX(-50%);
  background-image: url(../img/nature-icon.png);
}
@media (min-width: 768px) {
  .advantages_item--nature::before {
    left: 0;
    transform: translateY(0) translateX(-23px) translateX(-100%);
  }
}
.advantages_item--fresh {
  position: relative;
}
.advantages_item--fresh::before {
  position: absolute;
  content: "";
  height: 50px;
  width: 84px;
  left: 50%;
  transform: translateY(-100%) translateY(-10px) translateX(-50%);
  background-image: url(../img/fresh-icon.png);
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .advantages_item--fresh::before {
    left: 0;
    transform: translateY(0) translateX(-16px) translateX(-100%);
  }
}
.advantage__title {
  font-size: 16px;
  line-height: 14px;
  margin-bottom: 6px;
}
@media (min-width: 1366px) {
  .advantage__title {
    font-size: 20px;
  }
}
@media (min-width: 1366px) {
  .advantage__text {
    font-size: 18px;
  }
}
.customer-care {
  background: url(../img/customer-care.png) center bottom -285px no-repeat;
  min-height: 330px;
}
@media (min-width: 768px) {
  .customer-care {
    background: none;
  }
}
.customer-care__wrapper {
  margin: 0 auto;
  width: 280px;
}
@media (min-width: 768px) {
  .customer-care__wrapper {
    width: 678px;
  }
}
@media (min-width: 1366px) {
  .customer-care__wrapper {
    width: 1216px;
  }
}
.customer-care__title {
  font-size: 24px;
  text-align: left;
  line-height: 24px;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .customer-care__title {
    font-size: 28px;
    line-height: 28px;
  }
}
@media (min-width: 1366px) {
  .customer-care__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 29px;
  }
}
.customer-care__intro {
  line-height: 22px;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .customer-care__intro {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 14px;
  }
}
@media (min-width: 1366px) {
  .customer-care__intro {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 20px;
  }
}
.customer-care__text {
  width: 252px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .customer-care__text {
    width: 310px;
    line-height: 15px;
  }
}
@media (min-width: 1366px) {
  .customer-care__text {
    font-size: 20px;
    width: 440px;
    line-height: 22px;
  }
}
.how-to-order__wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: #e3353d;
  color: #fff;
  margin-bottom: 40px;
  background-image: url(../img/how-to-order-phone.png);
  background-repeat: no-repeat;
  background-position: bottom -65px center;
}
@media (min-width: 768px) {
  .how-to-order__wrapper {
    width: 768px;
    background-image: url(../img/how-to-order-tablet.png);
    background-repeat: no-repeat;
    background-position: bottom -140px center;
  }
}
@media (min-width: 1366px) {
  .how-to-order__wrapper {
    width: 1366px;
    background-image: url(../img/how-to-order-desktop.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
  }
}
.content__wrapper {
  margin: 0 auto;
  width: 280px;
  padding-top: 36px;
  padding-bottom: 118px;
}
@media (min-width: 768px) {
  .content__wrapper {
    width: 385px;
    padding-top: 55px;
    margin-right: 55px;
    padding-bottom: 17px;
  }
}
@media (min-width: 1366px) {
  .content__wrapper {
    width: 500px;
    padding-top: 130px;
    padding-bottom: 102px;
    margin-right: 30px;
  }
}
.how-to-order__title {
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .how-to-order__title {
    font-size: 28px;
    line-height: 28px;
    text-align: left;
  }
}
@media (min-width: 1366px) {
  .how-to-order__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 50px;
  }
}
.how-to-order__list {
  padding-left: 45px;
  list-style-type: none;
  width: 230px;
}
@media (min-width: 768px) {
  .how-to-order__list {
    width: 310px;
  }
}
@media (min-width: 1366px) {
  .how-to-order__list {
    width: 440px;
  }
}
.how-to-order__item {
  position: relative;
}
.how-to-order__item--1::before {
  position: absolute;
  content: "1";
  font-family: "Playfair Display";
  font-size: 35px;
  transform: translateX(-100%) translateX(-14px) translateY(-19px);
}
@media (min-width: 768px) {
  .how-to-order__item--1::before {
    font-size: 36px;
    transform: translateX(-100%) translateX(-20px) translateY(-19px);
  }
}
@media (min-width: 1366px) {
  .how-to-order__item--1::before {
    font-size: 64px;
    transform: translateX(-100%) translateX(-20px) translateY(-35px);
  }
}
.how-to-order__item--2::before {
  position: absolute;
  content: "2";
  font-family: "Playfair Display";
  font-size: 35px;
  transform: translateX(-100%) translateX(-14px) translateY(-19px);
}
@media (min-width: 768px) {
  .how-to-order__item--2::before {
    font-size: 36px;
    transform: translateX(-100%) translateX(-20px) translateY(-19px);
  }
}
@media (min-width: 1366px) {
  .how-to-order__item--2::before {
    font-size: 64px;
    transform: translateX(-100%) translateX(-20px) translateY(-35px);
  }
}
.how-to-order__item--3::before {
  position: absolute;
  content: "3";
  font-family: "Playfair Display";
  font-size: 35px;
  transform: translateX(-100%) translateX(-14px) translateY(-19px);
}
@media (min-width: 768px) {
  .how-to-order__item--3::before {
    font-size: 36px;
    transform: translateX(-100%) translateX(-20px) translateY(-19px);
  }
}
@media (min-width: 1366px) {
  .how-to-order__item--3::before {
    font-size: 64px;
    transform: translateX(-100%) translateX(-20px) translateY(-35px);
  }
}
.how-to-order__item-title {
  font-size: 15px;
  line-height: 14px;
  margin-bottom: 8px;
}
@media (min-width: 1366px) {
  .how-to-order__item-title {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 12px;
  }
}
.how-to-order__item-text {
  line-height: 16px;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .how-to-order__item-text {
    margin-bottom: 32px;
  }
}
@media (min-width: 1366px) {
  .how-to-order__item-text {
    line-height: 24px;
    font-size: 20px;
    margin-bottom: 38px;
  }
}
@media (min-width: 768px) {
  .contacts {
    width: 768px;
    margin: 0 auto;
    background-image: url(../img/contact-bg-tablet.png);
    background-repeat: no-repeat;
    background-position: bottom -50px right -75px;
  }
}
@media (min-width: 1366px) {
  .contacts {
    width: 1366px;
    margin: 0 auto;
    background-image: url(../img/contact-bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}
.contacts__wrapper {
  margin: 0 auto;
  width: 280px;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    width: 678px;
  }
}
@media (min-width: 1366px) {
  .contacts__wrapper {
    width: 1216px;
  }
}
.contacts__title {
  font-size: 24px;
  text-align: center;
  line-height: 24px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .contacts__title {
    font-size: 28px;
    text-align: left;
    line-height: 28px;
  }
}
@media (min-width: 1366px) {
  .contacts__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 40px;
  }
}
.contacts__intro {
  line-height: 22px;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .contacts__intro {
    margin-bottom: 23px;
  }
}
@media (min-width: 1366px) {
  .contacts__intro {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 27px;
  }
}
.contacts__content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .contacts__content {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .contacts-left {
    margin-right: 65px;
  }
}
@media (min-width: 1365px) {
  .contacts-left {
    margin-right: 85px;
  }
}
.contacts__text {
  line-height: 16px;
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .contacts__text {
    width: 280px;
    font-size: 20px;
  }
}
@media (min-width: 1366px) {
  .contacts__text {
    width: 548px;
    font-size: 20px;
  }
}
.contacts__text--2 {
  line-height: 25px;
  margin-bottom: 15px;
}
@media (min-width: 1366px) {
  a.contacts-phone {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .contacts__form {
    margin-bottom: 110px;
  }
}
@media (min-width: 1366px) {
  .contacts__form {
    margin-bottom: 300px;
  }
}
.field {
  display: block;
  box-sizing: border-box;
  font: inherit;
  line-height: 11px;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  padding: 18px 10px;
  width: 280px;
  height: 50px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .field {
    width: 346px;
  }
}
@media (min-width: 1366px) {
  .field {
    width: 548px;
    height: 50px;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 35px 2px 4px;
  }
}
.field::placeholder {
  font-size: 16px;
  color: #000;
  opacity: 0.2;
}
.textarea {
  display: block;
  box-sizing: border-box;
  font: inherit;
  line-height: 11px;
  border-radius: 3px;
  border: none;
  padding: 14px 10px;
  background-color: #ffffff;
  width: 280px;
  height: 120px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .textarea {
    width: 346px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1366px) {
  .textarea {
    width: 550px;
    height: 50px;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 35px 2px 4px;
    overflow: hidden;
    resize: none;
    margin-bottom: 80px;
  }
}
.textarea::placeholder {
  font-size: 16px;
  color: #000;
  opacity: 0.2;
}
.form-button {
  display: block;
  width: 180px;
  height: 51px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .form-button {
    margin: 0;
    margin-bottom: 30px;
  }
}
.contacts_social {
  display: inline-block;
  margin-right: 30px;
  background-color: #fff;
  width: 62px;
  height: 62px;
  border-radius: 31px;
  margin-bottom: 45px;
}
.contacts_social--telegram {
  background-image: url(../img/telegram-icon+.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.contacts_social--vk {
  background-image: url(../img/vk-icon-contacts.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.main-footer {
  background-color: #898989;
  padding-top: 45px;
  font-family: Roboto-Regular;
}
@media (min-width: 768px) {
  .main-footer {
    padding-top: 0;
  }
}
@media (min-width: 1366px) {
  .main-footer {
    background-color: #e8e8e8;
    padding-top: 3px;
  }
}
.main-footer__wrapper {
  margin: 0 auto;
  width: 280px;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    width: 728px;
    display: grid;
    grid-template-columns: 112px 1fr 1fr 112px;
    grid-template-rows: auto auto;
  }
}
@media (min-width: 1366px) {
  .main-footer__wrapper {
    width: 1216px;
    grid-template-columns: 220px 1fr 1fr 220px;
    grid-template-rows: auto auto;
  }
}
.main-footer__logo {
  font-size: 28px;
  color: #fff;
}
@media (min-width: 768px) {
  .main-footer__logo {
    font-size: 18px;
    line-height: 18px;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 0;
    display: flex;
    align-items: end;
  }
}
@media (min-width: 1366px) {
  .main-footer__logo {
    font-size: 28px;
    line-height: 28px;
    color: #000;
  }
}
@media (min-width: 768px) {
  .main-footer__list {
    display: flex;
    grid-column: 2/5;
    grid-row: 1/2;
  }
}
@media (min-width: 1366px) {
  .main-footer__list {
    grid-column: 2/4;
    grid-row: 1/2;
  }
}
ul.main-footer__list {
  padding-top: 30px;
}
.main-footer__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .main-footer__item:not(:last-child) {
    margin: 0;
    margin-right: 40px;
  }
}
.main-footer__phone {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .main-footer__phone {
    display: none;
  }
}
.main-footer__social {
  display: inline-block;
}
.main-footer__social--telegram {
  background-image: url(../img/telegram-icon-footer-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 23px;
  margin-right: 18px;
  opacity: 0.4;
}
@media (min-width: 1366px) {
  .main-footer__social--telegram {
    background-image: url(../img/telegram-icon-footer.svg);
  }
}
.main-footer__social--vk {
  background-image: url(../img/footer-icon-vk-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 31px;
  height: 23px;
  opacity: 0.4;
}
@media (min-width: 1366px) {
  .main-footer__social--vk {
    background-image: url(../img/footer-icon-vk.svg);
  }
}
.main-footer__social-wrapper {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .main-footer__social-wrapper {
    grid-column: 3/5;
    grid-row: 2/3;
    border-top: 1px solid #959595;
    margin-top: 40px;
    padding-left: 17px;
    padding-top: 13px;
    margin-bottom: 18px;
  }
}
@media (min-width: 1366px) {
  .main-footer__social-wrapper {
    grid-column: 4/5;
    grid-row: 1/2;
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: end;
  }
}
.main-footer__copyright {
  color: #fff;
  opacity: 0.5;
  padding: 10px 0;
  border-top: 1px solid #959595;
}
@media (min-width: 768px) {
  .main-footer__copyright {
    grid-column: 1/3;
    grid-row: 2/3;
    padding: 0;
    text-align: right;
    margin-top: 40px;
    padding-right: 17px;
    padding-top: 17px;
  }
}
@media (min-width: 1366px) {
  .main-footer__copyright {
    color: #000;
    grid-column: 1/5;
    grid-row: 2/2;
    text-align: center;
    margin-bottom: 20px;
  }
}
.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-list__link {
  color: #000;
  text-decoration: none;
}
.site-list__link--header {
  display: block;
  width: 320px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 40px;
  color: #383838;
  background-color: #e7e7e7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
@media (min-width: 1366px) {
  .site-list__link--header {
    margin-right: 45px;
    padding-top: 12px;
    width: auto;
    height: auto;
    font-size: 13px;
    line-height: normal;
    color: #2d2829;
    background-color: transparent;
    border: none;
  }
}
.site-list__link--footer {
  color: #fff;
  font-size: 12px;
}
@media (min-width: 1366px) {
  .site-list__link--footer {
    color: #000;
    font-size: 16px;
  }
}
@media (min-width: 1366px) {
  .site-list__link--current,
  .site-list__link:hover {
    color: #f50049;
  }
}
.phone {
  color: #2d2829;
  text-decoration: none;
}
.phone--footer {
  color: #fff;
}
.button {
  padding: 0;
  background-color: #f50049;
  font-family: "Circe-Regular";
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
}
.button:hover {
  box-shadow: 0px 5px 7.04px 0.96px rgba(255, 0, 67, 0.3);
}
.slider__toggles {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .slider__toggles {
    display: none;
  }
}
.slider__toggle {
  margin: 0;
  padding: 0;
  width: 6px;
  height: 6px;
  border: none;
  border-radius: 50%;
  margin-right: 6px;
}
.slider__toggle:not(:first-child) {
  background-color: #dddddd;
}
.slider__toggle:first-child {
  width: 8px;
  height: 8px;
  background-color: #f50049;
}
.slider__toggle:last-child {
  width: 4px;
  height: 4px;
}
.slider__toggle:not(:first-child).slider__toggle--light {
  background-color: #ffffff;
}
.order-result__wrapper {
  margin: 0 auto;
  width: 250px;
}
@media (min-width: 768px) {
  .order-result__wrapper {
    width: 638px;
    height: 130px;
  }
}
@media (min-width: 1366px) {
  .order-result__wrapper {
    width: 1070px;
    height: 190px;
  }
}
.order-result__title {
  font-size: 22px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .order-result__title {
    font-size: 18px;
  }
}
@media (min-width: 1366px) {
  .order-result__title {
    font-size: 27px;
  }
}
.description__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .description__wrapper {
    flex-direction: row;
    align-items: end;
    margin-bottom: 30px;
  }
}
.order-result__description-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .order-result__description-list {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .description-item:not(:last-child) {
    margin-right: 20px;
  }
}
@media (min-width: 1366px) {
  .description-item:not(:last-child) {
    margin-right: 80px;
  }
}
.order-result__description-term {
  font-size: 20px;
  color: #f50049;
  text-align: center;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .order-result__description-term {
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
  }
}
@media (min-width: 1366px) {
  .order-result__description-term {
    font-size: 27px;
    margin: 0;
  }
}
.order-result__description-definition {
  width: 243px;
  height: 30px;
  border: 1px solid #dddddd;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-result__description-definition:not(:last-child) {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .order-result__description-definition {
    font-size: 12px;
  }
  .order-result__description-definition--filling {
    width: 160px;
  }
  .order-result__description-definition--size {
    width: 74px;
  }
  .order-result__description-definition--decor {
    width: 160px;
  }
}
@media (min-width: 1366px) {
  .order-result__description-definition {
    font-size: 18px;
    justify-content: start;
  }
  .order-result__description-definition--filling {
    width: 250px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #dddddd;
  }
  .order-result__description-definition--size {
    width: 135px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #dddddd;
  }
  .order-result__description-definition--decor {
    width: 250px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #dddddd;
  }
}
.order-result__button {
  margin: 0 auto;
  width: 226px;
  height: 51px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .order-result__button {
    width: 160px;
    height: 43px;
  }
}
@media (min-width: 1366px) {
  .order-result__button {
    width: 226px;
    height: 51px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */
