<div class="swiper-slide">
    <div class="order-step-filling__wrapper">
        <div class="order-step-filling__img-wrapper">
                <img class="fillings__img" src="./img/order/fillings-img/@@img.jpg" alt="Начинка">
        </div>
        <div class="order-step-filling__fillings-wrapper">
            <h4 class="fillings__title">@@title</h4>
            <p class="fillings__desc">@@desc</p>
            <div class="price-button">
                <p class="fillings__price">@@price руб/кг</p>
                <button class="fillings__button btn btn--sm" type="button">Выбрать</button>
            </div>
        </div>
    </div>
</div>